/* ######1######2#####3#####4#####5#####

	 	box.css
	Author	: 
	Date	:2020/12/30

   ######1######2#####3#####4#####5##### */

@charset "UTF-8";

.SampleCodeBox
{
	display:none;
}

#CodeButton ~ #CodeButton_SampleCodeBox
{
	display:block;
}

.SampleCodeBox
{
	position:relative;
	margin:-2px;
	padding:25px 10px 7px;
	color:white;
	background-box:#383c3c;
}

div.SampleCodeBox .SampleCodeBox-Title
{
	position:absolute;
	display:inline-block;
	top:0px;
	left:0px;
	padding:0px 9px;
	font-size:17px;
	color:white;
	font-weight:bold;
}

div.SampleCodeBox .SampleCodeBox-Title[class ~= "html"]
{
	background:orange;
}

div.SampleCodeBox .SampleCodeBox-Title[class ~= "css"]
{
	background:cyan;
}

