@charset "UTF-8";
@import url("font.css");
@import url("table.css");
/* クラスセレクタ
   他に似た機能を持つセレクタにはIDセレクタがあるが、
   通常はクラスセレクタを用い、Javascriptで使用することがある */
#page_title  {
	text-align:center;	
	color:red;
	/* font-family:'Times New Roman', 'MS Gothic'; */
	/* font-size:32pt; */
	}

#test {
	margin:10px;
}

#nav_margin {
	margin-left:40px;
}

#nav_frame {
	margin-left:40px;
	margin-right:400px;
	border:1pt gray solid;
	background-color:#EEFFFF;
}

#def_title {
	margin-bottom:2.5px;
	border-left:15pt blue solid;
	border-bottom:2pt blue double;
	color:blue;
}

#def_func {
	border-bottom:2pt gray dashed;
}

#def_exp {
	border-top:2pt gray solid;
}

#h4_hatch {
	border-left:2pt black solid;
	border-right:2pt black solid;
	border-bottom:2pt black dashed;
}

#head {
	background-color:orange;
	color:red;
	font-style:italic;
}

#def_com {
	margin-top:2.5px;
}

#nav_sample {
	margin-left:40px;
	margin-right:400px;
}

/*
table{
	border:2px black solid;
}

table thead{
	background: orange;
	font-size:30pt;
}

table tbody tr td{	
	border-bottom:2px black dashed;
	font-size:20pt;
}
*/
