@charset "UTF-8";
/* クラスセレクタ
   他に似た機能を持つセレクタにはIDセレクタがあるが、
   通常はクラスセレクタを用い、Javascriptで使用することがある */
h1  {
	text-align:center;	
	color:red;
	font-family:'Times New Roman', 'MS Gothic';
	font-size:32pt;
	}
.head {
	color:red;
	font-style:italic;
}
