@charset "UTF-8";

table.sample2
{
	border:2px gray solid;
}

td.sample2-1
{
	border:2px gray dotted;
}

td.sample2-2
{
	border:4px gray dashed;
}

td.sample2-3
{
	border:8px gray groove;
}

td.sample2-4
{
	border:thin orange solid;
}

td.sample2-5
{
	border:medium orange solid;
}

td.sample2-6
{
	border:thick orange solid;
}

td.sample2-7
{
	border:10px orange solid;
}

td.sample2-8
{
	border:2px green solid;
}

td.sample2-9
{
	border:2px transparent solid;
}

td.sample2-10
{
	border:2px orange dotted;
}

td.sample2-11
{
	border:2px orange dashed;
}

td.sample2-12
{
	border:2px orange solid;
}

td.sample2-13
{
	border:5px orange double;
}

td.sample2-14
{
	border:5px orange groove;
}

td.sample2-15
{
	border:5px orange ridge;
}

td.sample2-16
{
	border:5px orange inset;
}

td.sample2-17
{
	border:5px orange outset;
}

td.sample2-18
{
	border:5px orange none;
}

th.sample3-1
{
	border:2px gray solid;
}

caption.sample4-1
{
	caption-side:top;
}

caption.sample4-2
{
	caption-side:bottom;
}

thead.sample5-1
{
	background-color:#FF00FF;
}

tfoot.sample5-2
{
	background-color:#00FF00;
}

tbody.sample5-3
{
	background-color:#00FFFF;
}

colgroup.sample6-1
{
	background-color:orange;
}

colgroup.sample6-2
{
	background-color:yellow;
}

col.sample7-1
{
	background-color:green;
}

col.sample7-2
{
	background-color:aqua;
}

td.sample8-1
{
	background-color:aqua;
}

table.sample9-1
{
	float:right;
}

p.sample10-1
{
	clear:right;
}

table.sample11-1
{
	width:50%;
}

table.sample11-2
{
	width:350px;
	height:200px;
}

th.sample12-1
{
	width:200px;
}

th.sample12-2
{
	width:300px;
}

th.sample12-3
{
	width:250px;
}

th.sample12-4
{
	width:100px;
}

td.sample12-5
{
	height:2em;
}

td.sample13-1
{
	width:100px;
	height:50px;
	text-align:left;
	vertical-align:top;
}

td.sample13-2
{
	width:100px;
	height:50px;
	text-align:center;
	vertical-align:top;
}

td.sample13-3
{
	width:100px;
	height:50px;
	text-align:right;
	vertical-align:top;
}

td.sample13-4
{
	width:100px;
	height:50px;
	text-align:left;
	vertical-align:middle;
}

td.sample13-5
{
	width:100px;
	height:50px;
	text-align:center;
	vertical-align:middle;
}

td.sample13-6
{
	width:100px;
	height:50px;
	text-align:right;
	vertical-align:middle;
}

td.sample13-7
{
	width:100px;
	height:50px;
	text-align:left;
	vertical-align:bottom;
}

td.sample13-8
{
	width:100px;
	height:50px;
	text-align:center;
	vertical-align:bottom;
}

td.sample13-9
{
	width:100px;
	height:50px;
	text-align:right;
	vertical-align:bottom;
}

table.sample14-1
{
	border-spacing:5px;
}

table.sample14-2
{
	border-spacing:0.5em 1em;
}

th.sample15-1
{
	padding:20px;
}

td.sample15-1
{
	padding:20px;
}

table.sample16-1
{
	border-color:#cc0000;
}

th.sample16-2
{
	border-top-color:#ffcc00;
	border-right-color:#669900;
	border-left-color:#ccff00;
	border-bottom-color:#996600;
}

td.sample16-2
{
	border-top-color:#ffcc00;
	border-right-color:#669900;
	border-left-color:#ccff00;
	border-bottom-color:#996600;
}
