@charset "UTF-8";

table.sample2
{
	border:2px gray solid;
}

td.sample2-1
{
	border:2px gray dotted;
}

td.sample2-2
{
	border:4px gray dashed;
}

td.sample2-3
{
	border:8px gray groove;
}

td.sample2-4
{
	border:thin orange solid;
}

td.sample2-5
{
	border:medium orange solid;
}

td.sample2-6
{
	border:thick orange solid;
}

td.sample2-7
{
	border:10px orange solid;
}

td.sample2-8
{
	border:2px green solid;
}

td.sample2-9
{
	border:2px transparent solid;
}

td.sample2-10
{
	border:2px orange dotted;
}

td.sample2-11
{
	border:2px orange dashed;
}

td.sample2-12
{
	border:2px orange solid;
}

td.sample2-13
{
	border:5px orange double;
}

td.sample2-14
{
	border:5px orange groove;
}

td.sample2-15
{
	border:5px orange ridge;
}

td.sample2-16
{
	border:5px orange inset;
}

td.sample2-17
{
	border:5px orange outset;
}

td.sample2-18
{
	border:5px orange none;
}

th.sample3-1
{
	border:2px gray solid;
}

caption.sample4-1
{
	caption-side:top;
}

caption.sample4-2
{
	caption-side:bottom;
}

thead.sample5-1
{
	background-color:#FF00FF;
}

tfoot.sample5-2
{
	background-color:#00FF00;
}

tbody.sample5-3
{
	background-color:#00FFFF;
}

colgroup.sample6-1
{
	background-color:orange;
}

colgroup.sample6-2
{
	background-color:yellow;
}

col.sample7-1
{
	background-color:green;
}

col.sample7-2
{
	background-color:aqua;
}

td.sample8-1
{
	background-color:aqua;
}

table.sample9-1
{
	float:right;
}
